.footer {
    width: 100%;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: -100px;
    background-color: #000;

    .content_footer {
        text-align: center;
    }

    .touch {
        text-transform: uppercase;
        @include font_700;
        font-size: 16px;
        text-align: center;
        color: #FEFEFE;
    }

    .text {
        width: 684px;
        height: 40px;
        text-align: center;
        margin-top: 22px;
        @include font_400;
        font-size: 16px;
        color: #B9B9B9;
    }

    .text_2 {
        width: 684px;
        height: 40px;
        text-align: center;
        margin-top: -15px;
        @include font_400;
        font-size: 16px;
        color: #B9B9B9;
    }

    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;   
        gap: 6px;

        .rss {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.0001);
            border: 2px solid #F8902E;
            border-radius: 30px;

            .rss-img {
                width: 10px;
                height: 10px;
                padding-left: 12px;
            }
        }

        .facebook {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.0001);
            border: 2px solid #39599F;
            border-radius: 30px;

            .facebook-img {
                width: 6px;
                height: 12px;
                padding-left: 14px;
            }
        }

        .twitter {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.0001);
            border: 2px solid #45B0E3;
            border-radius: 30px;

            .twitter-img {
                width: 9px;
                height: 12px;
                padding-left: 12px;
            }
        }

        .dribbble {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.0001);
            border: 2px solid #D97AB0;
            border-radius: 30px;

            .dribbble-img {
                width: 12px;
                height: 12px;
                padding-left: 11px;
            }
        }

        .pinterest {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.0001);
            border: 2px solid #CC212C;
            border-radius: 30px;

            .pinterest-img {
                width: 10px;
                height: 12px;
                padding-left: 12px;
            }
        }
    }

    .contacts {
        display: flex;
        justify-content: center;
        margin-top: 34px;

        .info {
            @include font_400;
            font-size: 16px;
            color: #B9B9B9;
        }
    }
}