@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./vars";
@import "./mixins";

.header {
    width: 100%;

    .menu {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        line-height: 22px;
        gap: 68px;

        .link {
            @include font_400;
            font-size: 13px;
            text-transform: uppercase;
            text-decoration: none;
            list-style: none;
            color: $main-color;

            &:hover {
                color: $hvr-color;
            }
        }
    }

    .intro {
        display: flex;
        justify-content: center;

        .intro-img {
            width: 1000px;
            height: 390px;
            margin-top: 51px;
        }
    }
}