@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import "./vars";
@import "./mixins";

.instagram-block-bg {
    width: 100%;
    height: 468px;
    margin-top: 116px;
    opacity: 0.03;
    background-color: #000000;
}

.text-content {
    display: flex;
    margin-top: -34%;
    @include font_700;
    align-items: center;
    justify-content: space-around;
    gap: 42%;

    .latest {
        font-size: 16px;
        text-transform: uppercase;
        color: $main-color;
    }

    .instargam-go-pg {
        margin-right: 20px;
        font-size: 13px;
        text-transform: uppercase;
        color: $main-color;
    }
}

.posts-instagram {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;

    .post-inst-img {
        width: 260px;
        height: 260px;
        padding: 0px 10px 0px 0px;
    }
}