@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./vars";
@import "./mixins";

.posts {
    margin-left: 110px;

    .resent {
        margin-top: 66px;
        text-transform: uppercase;
        @include font_700;
        font-size: 16px;
        color: $main-color;
    }
}

.post-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0px 100px 0px 0px;
}

.post {
    max-width: 100%;
    min-height: 1px;
    margin: 15px; 

    .text-main {
        margin-top: 20px;
        margin-left: 180px;
        padding: 0px 0px 5px 0px;
        @include font_700;
        font-size: 16px;
        color: $main-color;
    }

    .comment {
        margin-left: 180px;
        padding: 0px 0px 10px 0px;
        @include font_400;
        font-size: 12px;
        color: #7C7C7C;
    }

    .content {
        width: 300px;
        height: 40px;
        margin-left: 180px;
        @include font_400;
        font-size: 14px;
        color: #5C5C5C;
    }

    .content_continq {
        width: 300px;
        height: 40px;
        margin-top: 1.5px;
        margin-left: 180px;
        @include font_400;
        font-size: 14px;
        color: #5C5C5C;
    }

    .pst-img {
        width: 160px;
        height: 150px;
        margin-top: -130px;
    }
}