@import "./header";
@import "./footer";
@import "./vars";
@import "./mixins";
@import "./resent-posts";
@import "./instargram-posts";
@import "./burger-menu.scss";

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (max-width: 1200px) {

    .header {
        width: 100%;
    
        .menu {
            display: flex;
            justify-content: center;
            margin-top: 45px;
            line-height: 22px;
            gap: 68px;
    
            .link {
                @include font_400;
                font-size: 13px;
                text-transform: uppercase;
                text-decoration: none;
                list-style: none;
                color: $main-color;
    
                &:hover {
                    color: $hvr-color;
                }
            }
        }
    
        .intro {
            display: flex;
            justify-content: center;
    
            .intro-img {
                width: 1000px;
                height: 390px;
                margin-top: 51px;
            }
        }
    }

    .posts {
        margin-left: 100px;
    
        .resent {
            margin-top: 66px;
            text-transform: uppercase;
            @include font_700;
            font-size: 16px;
            color: $main-color;
        }
    }
    
    .post-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0px 100px 0px 0px;
    }
    
    .post {
        max-width: 100%;
        min-height: 1px;
        margin: 15px; 
    
        .text-main {
            margin-top: 20px;
            margin-left: 180px;
            padding: 0px 0px 5px 0px;
            @include font_700;
            font-size: 16px;
            color: $main-color;
        }
    
        .comment {
            margin-left: 180px;
            padding: 0px 0px 10px 0px;
            @include font_400;
            font-size: 12px;
            color: #7C7C7C;
        }
    
        .content {
            width: 300px;
            height: 40px;
            margin-left: 180px;
            @include font_400;
            font-size: 14px;
            color: #5C5C5C;
        }

        .content_continq {
            width: 300px;
            height: 40px;
            margin-top: 1.5px;
            margin-left: 180px;
            @include font_400;
            font-size: 14px;
            color: #5C5C5C;
        }
    
        .pst-img {
            width: 160px;
            height: 150px;
            margin-top: -130px;
        }
    }

    .instagram-block-bg {
        width: 100%;
        height: 468px;
        margin-top: 116px;
        opacity: 0.03;
        background-color: #000000;
    }
    
    .text-content {
        display: flex;
        margin-top: -34.5%;
        @include font_700;
        align-items: center;
        justify-content: space-around;
        gap: 44%;
    
        .latest {
            font-size: 16px;
            text-transform: uppercase;
            color: $main-color;
        }
    
        .instargam-go-pg {
            margin-right: 20px;
            font-size: 13px;
            text-transform: uppercase;
            color: $main-color;
        }
    }
    
    .posts-instagram {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    
        .post-inst-img {
            width: 260px;
            height: 260px;
            padding: 0px 10px 0px 0px;
        }
    }

    .footer {
        width: 100%;
        height: 355px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: -100px;
        background-color: #000;
    
        .content_footer {
            margin-top: -90px;
            text-align: center;
        }
    
        .touch {
            text-transform: uppercase;
            @include font_700;
            font-size: 16px;
            text-align: center;
            color: #FEFEFE;
        }
    
        .text {
            width: 684px;
            height: 40px;
            text-align: center;
            margin-top: 22px;
            @include font_400;
            font-size: 16px;
            color: #B9B9B9;
        }
    
        .text_2 {
            width: 684px;
            height: 40px;
            text-align: center;
            margin-top: -15px;
            @include font_400;
            font-size: 16px;
            color: #B9B9B9;
        }
    
        .services {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;   
            gap: 6px;
    
            .rss {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #F8902E;
                border-radius: 30px;
    
                .rss-img {
                    width: 10px;
                    height: 10px;
                    padding-left: 12px;
                }
            }
    
            .facebook {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #39599F;
                border-radius: 30px;
    
                .facebook-img {
                    width: 6px;
                    height: 12px;
                    padding-left: 14px;
                }
            }
    
            .twitter {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #45B0E3;
                border-radius: 30px;
    
                .twitter-img {
                    width: 9px;
                    height: 12px;
                    padding-left: 12px;
                }
            }
    
            .dribbble {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #D97AB0;
                border-radius: 30px;
    
                .dribbble-img {
                    width: 12px;
                    height: 12px;
                    padding-left: 11px;
                }
            }
    
            .pinterest {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #CC212C;
                border-radius: 30px;
    
                .pinterest-img {
                    width: 10px;
                    height: 12px;
                    padding-left: 12px;
                }
            }
        }
    
        .contacts {
            display: flex;
            justify-content: center;
            margin-top: 23px;
    
            .info {
                @include font_400;
                font-size: 16px;
                color: #B9B9B9;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    
        .menu {
            display: flex;
            justify-content: center;
            margin-top: 45px;
            line-height: 22px;
            gap: 34px;
    
            .link {
                @include font_400;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;
                list-style: none;
                color: $main-color;
    
                &:hover {
                    color: $hvr-color;
                }
            }
        }
    
        .intro {
            display: flex;
            justify-content: center;
    
            .intro-img {
                width: 660px;
                height: 361px;
                margin-top: 51px;
            }
        }
    }

    .posts {
        margin-left: 50px;
    
        .resent {
            margin-top: 66px;
            text-transform: uppercase;
            @include font_700;
            font-size: 16px;
            color: $main-color;
        }
    }
    
    .post-block {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0px 100px 0px 0px;
    }
    
    .post {
        max-width: 100%;
        min-height: 1px;
        margin: 15px; 
    
        .text-main {
            margin-top: 20px;
            margin-left: 180px;
            padding: 0px 0px 5px 0px;
            @include font_700;
            font-size: 16px;
            color: $main-color;
        }
    
        .comment {
            margin-left: 180px;
            padding: 0px 0px 10px 0px;
            @include font_400;
            font-size: 12px;
            color: #7C7C7C;
        }
    
        .content {
            width: 404px;
            height: 40px;
            margin-left: 180px;
            @include font_400;
            font-size: 14px;
            color: #5C5C5C;
        }

        .content_continq {
            width: 404px;
            height: 40px;
            margin-top: -18px;
            margin-left: 180px;
            @include font_400;
            font-size: 14px;
            color: #5C5C5C;
        }
    
        .pst-img {
            margin-top: -118px;
        }
    }

    .instagram-block-bg {
        width: 100%;
        height: 468px;
        margin-top: 50px;
        opacity: 0.03;
        background-color: #000000;
    }
    
    .text-content {
        display: flex;
        margin-top: -55%;
        @include font_700;
        align-items: center;
        justify-content: space-around;
        gap: 29.7%;
    
        .latest {
            font-size: 16px;
            text-transform: uppercase;
            color: $main-color;
        }
    
        .instargam-go-pg {
            margin-right: 20px;
            font-size: 13px;
            text-transform: uppercase;
            color: $main-color;
        }
    }
    
    .posts-instagram {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    
        .post-inst-img {
            width: 230px;
            height: 230px;
            padding: 0px 7px 0px 0px;
        }

        #pst-img_4 {
            display: none;
        }
    }

    .footer {
        width: 100%;
        height: 355px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: -100px;
        background-color: #000;
    
        .content_footer {
            text-align: center;
        }
    
        .touch {
            text-transform: uppercase;
            @include font_700;
            font-size: 16px;
            text-align: center;
            color: #FEFEFE;
        }
    
        .text {
            width: 684px;
            height: 40px;
            text-align: center;
            margin-top: 22px;
            @include font_400;
            font-size: 16px;
            color: #B9B9B9;
        }
    
        .text_2 {
            width: 684px;
            height: 40px;
            text-align: center;
            margin-top: -15px;
            @include font_400;
            font-size: 16px;
            color: #B9B9B9;
        }
    
        .services {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;   
            gap: 6px;
    
            .rss {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #F8902E;
                border-radius: 30px;
    
                .rss-img {
                    width: 10px;
                    height: 10px;
                    padding-left: 12px;
                }
            }
    
            .facebook {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #39599F;
                border-radius: 30px;
    
                .facebook-img {
                    width: 6px;
                    height: 12px;
                    padding-left: 14px;
                }
            }
    
            .twitter {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #45B0E3;
                border-radius: 30px;
    
                .twitter-img {
                    width: 9px;
                    height: 12px;
                    padding-left: 12px;
                }
            }
    
            .dribbble {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #D97AB0;
                border-radius: 30px;
    
                .dribbble-img {
                    width: 12px;
                    height: 12px;
                    padding-left: 11px;
                }
            }
    
            .pinterest {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #CC212C;
                border-radius: 30px;
    
                .pinterest-img {
                    width: 10px;
                    height: 12px;
                    padding-left: 12px;
                }
            }
        }
    
        .contacts {
            display: flex;
            justify-content: center;
            margin-top: 20px;
    
            .info {
                @include font_400;
                font-size: 16px;
                color: #B9B9B9;
            }
        }
    }
}

@media screen and (max-width: 320px) {

    body {
        overflow-x: hidden;
    }

    .header {
        width: 100%;
    
        .menu {
            display: none;
        }
    
        .intro {
            display: flex;
            justify-content: center;
    
            .intro-img {
                width: 270px;
                height: 150px;
                margin-top: 20px;
            }
        }
    }

    .posts {
        margin-left: 21px;
    
        .resent {
            margin-top: 38px;
            margin-bottom: -80px;
            text-transform: uppercase;
            @include font_700;
            font-size: 16px;
            color: $main-color;
        }
    }
    
    .post-block {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 100px 0px 0px;
    }
    
    .post {
        max-width: 100%;
        min-height: 1px;
        margin: 15px; 
    
        .text-main {
            white-space: nowrap;
            margin-top: 220px;
            margin-left: 1px;
            padding: 10px 0px 5px 0px;
            @include font_700;
            font-size: 16px;
            color: $main-color;
        }
    
        .comment {
            white-space: nowrap;
            margin-left: 2px;
            padding: 0px 0px 10px 0px;
            @include font_400;
            font-size: 12px;
            color: #7C7C7C;
        }
    
        .content {
            display: none;
        }

        .content_continq {
            display: none;
        }

        .image-post {
            margin-top: -75px;
            margin-bottom: 20px;
        }
    
        .pst-img {
            margin-top: -150px;
        }
    }

    .instagram-block-bg {
        width: 100%;
        height: 468px;
        margin-top: 50px;
        opacity: 0.03;
        background-color: #fff;
    }
    
    .text-content {
        display: flex;
        margin-top: -135%;
        @include font_700;
        margin-left: -85px;
    
        .latest {
            font-size: 14px;
            text-transform: uppercase;
            color: $main-color;
        }
    
        .instargam-go-pg {
            display: none;
        }
    }
    
    .posts-instagram {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    
        .post-inst-img {
            width: 270px;
            height: 270px;
            margin: -18px 1px 0px 0px;
        }

        #pst-img_2 {
            display: none;
        }

        #pst-img_3 {
            display: none;
        }

        #pst-img_4 {
            display: none;
        }

        .inst-p {
            display: none;
        }
    }

    .footer {
        width: 100%;
        height: 355px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: -100px;
        background-color: #000;
    
        .content_footer {
            text-align: center;
        }
    
        .touch {
            text-transform: uppercase;
            @include font_700;
            font-size: 14px;
            text-align: center;
            color: #FEFEFE;
        }
    
        .text {
            width: 303px;
            height: 52px;;
            text-align: center;
            margin-top: 22px;
            @include font_400;
            font-size: 12px;
            color: #B9B9B9;
        }
    
        .text_2 {
            width: 303px;
            height: 52px;
            text-align: center;
            margin-top: -15px;
            @include font_400;
            font-size: 12px;
            color: #B9B9B9;
        }
    
        .services {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;   
            gap: 6px;
    
            .rss {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #F8902E;
                border-radius: 30px;
    
                .rss-img {
                    width: 10px;
                    height: 10px;
                    padding-left: 12px;
                }
            }
    
            .facebook {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #39599F;
                border-radius: 30px;
    
                .facebook-img {
                    width: 6px;
                    height: 12px;
                    padding-left: 14px;
                }
            }
    
            .twitter {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #45B0E3;
                border-radius: 30px;
    
                .twitter-img {
                    width: 9px;
                    height: 12px;
                    padding-left: 12px;
                }
            }
    
            .dribbble {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #D97AB0;
                border-radius: 30px;
    
                .dribbble-img {
                    width: 12px;
                    height: 12px;
                    padding-left: 11px;
                }
            }
    
            .pinterest {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #CC212C;
                border-radius: 30px;
    
                .pinterest-img {
                    width: 10px;
                    height: 12px;
                    padding-left: 12px;
                }
            }
        }
    
        .contacts {
            display: flex;
            justify-content: center;
            margin-top: 13px;
    
            .info {
                width: 235px;
                height: 63px;
                @include font_400;
                font-size: 14px;
                color: #B9B9B9;
            }
        }
    }

    .header__nav {
        display: block;
        overflow-x: hidden;
        position: absolute;
        top: 61px;
        left: 0;
        background: #F5F5F5;
        box-shadow: #ccc;
        width: 182px;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
        transition: all 0.4s ease;
        left: -100%;
    }

    .header__menu {
        display: block;
    }

    .header__nav.open-menu{
        left: 108px;
    }

    .header__menu li {
        display: block;
        display: flex;
        @include font_400;
        list-style: none;
        text-transform: uppercase;
        padding: 20px 0px 15px 10px;
        font-size: 14px;
        margin: 0;

        .menu-link {
            color: $main-color;
            text-decoration: none;
            padding: 0px 0px 0px 10px;

            &:focus {
                color: $hvr-color;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: #E5E5E5;
        }
    }

    .menu-burger__header {
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: block;
        margin-top: 30px;
        margin-left: 266px;
    }

    .block-background-menu-span {
        width: 44px;
        height: 36px;
        margin-top: -35px;
        margin-left: 246px;
        background-color: #000;
    }

    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 2px;
        width: 23px;
        position: absolute;
        background: #fff;
        margin: 1px 0px 11.5px -9px;
    }

    .menu-burger__header span{
        top: 16px;
    }

    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }

    .menu-burger__header:after{
        bottom: 5px;
        transition: 0.5s; 
    }

    .menu-burger__header:before{
        top: 5px;
        transition: 0.5s; 
    }

    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }

    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 11.5px;
        transition: 0.4s;
    }

    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 5px;
        transition: 0.4s;
    }

    .fixed-pade {
        overflow: hidden;
    }
}